.muv-matrix {
  display    : table;
  height     : auto;
  width      : auto;
  margin     : auto;
  text-align : center;

  &__grid {
    display        : table-cell;
    float          : none;
    padding        : 0;
    vertical-align : middle;

    &__vectors {
      display : table;
      width   : 100%;

      &__vector {
        display        : table-cell;
        vertical-align : middle;
      }
    }
  }

  &__parens {
    display        : table-cell;
    width          : 10%;
    min-width      : 10px;
    float          : none;
    border-width   : 1px;
    border-style   : solid;
    vertical-align : middle;

    &--left {
      border-right : none;
    }

    &--right {
      border-left : none;
    }
  }
}

[dir=rtl] .matrix {
  &__parens {
    &--left {
      border-width : 1px 1px 1px 0;
    }

    &--right {
      border-width : 1px 0 1px 1px;
    }
  }
}
