<template>
    <muv-binary-operator class="muv-addition"
                         v-bind:editable="editable"
                         v-bind:editor="editor"
                         v-bind:focused="focused"
                         v-bind:model="proxyModel">
        <slot></slot>
    </muv-binary-operator>
</template>
