<template>
    <muv-editor-hook class="muv-binary-operator"
                     v-bind:editable="editable"
                     v-bind:editor="editor"
                     v-bind:focused="focused"
                     v-bind:model="proxyModel">
        <div class="muv-binary-operator__operand">
            <slot name="operand1">
                <component v-bind:is="operand1.view"
                           v-bind:editable="editable"
                           v-bind:editor="editor"
                           v-bind:model="operand1"
                           v-bind:key="operand1.id">
                </component>
            </slot>
        </div>

        <span class="muv-binary-operator__operator">
            {{ proxyModel.glyph }}
        </span>

        <div class="muv-binary-operator__operand">
            <slot name="operand2">
                <component v-bind:is="operand2.view"
                           v-bind:editable="editable"
                           v-bind:editor="editor"
                           v-bind:model="operand2"
                           v-bind:key="operand2.id">
                </component>
            </slot>
        </div>
    </muv-editor-hook>
</template>
