<template>
    <muv-binary-operator class="muv-equality"
                         v-bind:editable="editable"
                         v-bind:editor="editor"
                         v-bind:focused="focused"
                         v-bind:model="proxyModel">
        <div slot="operand2"
             class="muv-equality__result"
             v-bind:class="[ valid ? 'muv-equality__result--valid' : 'muv-equality__result--erroneus' ]">
            <component v-bind:is="operand2.view"
                       v-bind:editable="editable && !autosolve"
                       v-bind:editor="editor"
                       v-bind:model="operand2"
                       v-bind:key="operand2.id">
            </component>
        </div>
    </muv-binary-operator>
</template>
