.muv-collapse-enter-active {
  max-height : 0;
  overflow   : hidden;
  transition : all 0.4s ease;
}

.muv-collapse-enter-to {
  max-height : 120px;
}

.muv-collapse-leave-active {
  max-height : 120px;
  transition : all 0.4s ease;
}

.muv-collapse-leave-to {
  overflow   : hidden;
  max-height : 0;
}
