<template>
    <div class="app">
        <muv-editor class="app__editor"
                    v-bind:model="editor">
            <muv-equality v-bind:model="equality"
                          v-bind:autosolve="true"
                          v-bind:editor="editor"
                          v-bind:editable="true">
            </muv-equality>
        </muv-editor>
    </div>
</template>
