<template>
    <muv-editor-hook v-bind:editable="editable"
                     v-bind:editor="editor"
                     v-bind:focused="focused"
                     v-bind:model="proxyModel">
        <div class="muv-placeholder">
        </div>
    </muv-editor-hook>
</template>
