@import '../Variables';

@placeholder-width : 45px;
@placeholder-height : 25px;
@placeholder-border-size : 1px;

.muv-placeholder {
  width         : @placeholder-width - 2 * @placeholder-border-size;
  height        : @placeholder-height;
  border-width  : @placeholder-border-size;
  border-style  : dashed;
  border-radius : 5px;
  margin        : auto;
}
