@import '../Variables';

@numeric-value-height : 25px;
@numeric-value-width : 45px;

.muv-numeric-value {
  &__value {
    display     : block;
    white-space : nowrap;
    width       : @numeric-value-width;
    height      : @numeric-value-height;
    line-height : @numeric-value-height;
    max-width   : @numeric-value-width;
    margin      : auto;
    padding     : 0;
    text-align  : center;
    direction   : ltr;

    &--ellipsis {
      overflow      : hidden;
      text-overflow : ellipsis;
    }
  }
}
