.muv-editor {
  display : table;
  width   : 100%;

  &__blackboard {
    display        : table-cell;
    vertical-align : top;
    width          : 75%
  }

  &__menu {
    display        : table-cell;
    vertical-align : top;
    width          : 25%;
    list-style     : none;
    margin         : 0;
    padding        : 0;
  }
}
