@import '../Variables';

// Normal
@editor-hook-border-radius : @muv-border-radius;
@editor-hook-padding : @muv-padding;

// Focus
@editor-hook-box-shadow-focused : @muv-box-shadow-focused;

// Hover
@editor-hook-color-hovered : @muv-color-hovered;
@editor-hook-box-shadow-hovered : inset 0 0 2px #999999;

// Select
@editor-hook-box-shadow-selected : inset 0 0 2px #ffffff;
@editor-hook-background-color-selected : rgba(58, 175, 169, .6);
@editor-hook-color-selected : #2b7a78;

.muv-editor-hook {
  padding       : 0;
  border        : none;
  border-radius : @editor-hook-border-radius;

  &__button {
    padding          : @editor-hook-padding;
    border-radius    : @editor-hook-border-radius;
    width            : 100%;
    display          : block;
    border           : none;
    background-color : transparent;
    transition       : background-color 0.2s ease;

    &:disabled {
      color          : @muv-text-color;
      pointer-events : none;
    }

    &--editable:hover {
      cursor           : pointer;
      background-color : @editor-hook-color-hovered;
      box-shadow       : @editor-hook-box-shadow-hovered;
    }

    &:focus {
      border  : none;
      outline : none;
    }

    &--focused, &--focused:focus {
      border-radius : @editor-hook-border-radius;
      box-shadow    : @editor-hook-box-shadow-focused;
      outline       : 0;
    }

    &--selected &--focused, &--selected &--focused:focus {
      box-shadow : @editor-hook-box-shadow-focused;
    }

    &--selected {
      box-shadow       : @editor-hook-box-shadow-selected;
      background-color : @editor-hook-background-color-selected;
      color            : @editor-hook-color-selected;
    }

    &--selected:hover {
      background-color : lighten(@editor-hook-background-color-selected, 5%);
    }
  }
}
