// Border
@muv-border-radius : 3px;
@muv-border-color : #17252a;

// Container
@muv-padding : 5px;
@muv-background-color : #dddddd;

// Text
@muv-text-color : #17252a;
@muv-font-size : 14px;

// Focus
@muv-box-shadow-focused : 0 0 8px rgba(102, 175, 233, .6);

// Hover
@muv-color-hovered : rgba(204, 204, 204, 0.05);

* {
  color        : inherit;
  font-size    : inherit;
  border-color : inherit;
}
