<template>
    <div class="muv-editor-hook">
        <button class="muv-editor-hook__button"
                v-bind:class="{
                    'muv-editor-hook__button--editable' : proxyModel.editable,
                    'muv-editor-hook__button--focused'  : proxyModel.focused,
                    'muv-editor-hook__button--selected' : proxyModel.selected
                }"
                v-bind:ref="`button-${proxyModel.id}`"
                v-bind:tabindex="focusable ? 0 : -1"
                v-bind:disabled="!proxyModel.editable"
                v-on:keydown.left.prevent.stop="prev"
                v-on:keydown.right.prevent.stop="next"
                v-on:keydown.esc.prevent.stop="deselect"
                v-on:keydown.enter.prevent.stop="toggleSelection"
                v-on:dblclick.prevent.stop="toggleSelection"
                v-on:focus.prevent.stop="onFocus"
                v-on:blur.prevent.stop="onBlur">
            <slot></slot>
        </button>
    </div>
</template>
