<template>
    <div class="muv-editor">
        <div class="muv-editor__blackboard">
            <slot v-if="slotted">
            </slot>

            <template v-else>
                <component v-for="element in proxyModel.elements"
                           v-bind:key="element.id"
                           v-bind:is="element.view"
                           v-bind:editable="editable"
                           v-bind:editor="proxyModel"
                           v-bind:model="element">
                </component>
            </template>
        </div>

        <ul class="muv-editor__menu">
            <muv-menu-item v-bind:editor="proxyModel"
                           v-bind:model="proxyModel.menu"
                           v-bind:collapsed="proxyModel.menu.collapsed"
                           v-on:element-edited="onElementEdited">
            </muv-menu-item>
        </ul>
    </div>
</template>
