<template>
    <li class="muv-menu-item"
        v-bind:class="{
            'muv-menu-item--root'  : depth === 0,
            'muv-menu-item--empty' : empty
        }">
        <button class="muv-menu-item__container"
                v-if="proxyModel.displayed"
                v-bind:disabled="!compatible"
                v-on:click="proxyModel.items.length ? toggle() : edit()">
            <span class="muv-menu-item__container__glyph">{{ proxyModel.element.glyph }}</span>

            <span class="muv-menu-item__container__label">{{ proxyModel.element.label }}</span>

            <span class="muv-menu-item__container__arrow"
                  v-if="!empty"
                  v-bind:class="{
                   'muv-menu-item__container__arrow--collapsed' : proxyModel.collapsed,
                   'muv-menu-item__container__arrow--expanded'  : !proxyModel.collapsed
                  }">
            </span>
        </button>

        <transition name="muv-collapse">
            <ul class="muv-menu-item__items"
                v-if="!empty"
                v-show="!proxyModel.collapsed">
                <muv-menu-item class="muv-menu-item__items__item"
                               v-for="subitem in proxyModel.items"
                               v-bind:class="{
                                          'muv-menu-item__items__item--root' : depth === 0,
                                          'muv-menu-item__items__item--even' : (depth % 2) === 0,
                                          'muv-menu-item__items__item--odd'  : (depth % 2) === 1
                                      }"
                               v-bind:key="`menu_item_${subitem.id}`"
                               v-bind:editor="editor"
                               v-bind:model="subitem"
                               v-bind:depth="depth + 1"
                               v-on:element-edited="onElementEdited">
                </muv-menu-item>
            </ul>
        </transition>
    </li>
</template>
