<template>
    <muv-editor-hook class="muv-numeric-value"
                     v-bind:editable="editable"
                     v-bind:editor="editor"
                     v-bind:focused="focused"
                     v-bind:model="proxyModel">
        <span class="muv-numeric-value__value"
              v-bind:class="{ 'muv-numeric-value__value--ellipsis' : ellipsis }"
              v-bind:title="ellipsis ? proxyModel.value : ''">
            {{ proxyModel.value }}
        </span>
    </muv-editor-hook>
</template>
