@import '../../Variables';
@import '../../transition/Collapse';

@editor-menu-item-border-radius : @muv-border-radius;
@editor-menu-item-background-color : @muv-background-color;
@editor-menu-item-hover-color : rgba(180, 180, 180, 0.5);
@editor-menu-item-height : 20px;
@editor-menu-item-border-width : 1px;
@editor-menu-item-spacing : 5px;
@editor-menu-item-glyph-width : @editor-menu-item-height;

.muv-menu-item {
  min-height       : @editor-menu-item-height + 2 * @editor-menu-item-spacing;
  list-style       : none;
  margin           : 0;
  padding          : 0;
  background-color : transparent;

  &--root {
    border-radius : @editor-menu-item-border-radius;
    border-width  : @editor-menu-item-border-width;
    border-style  : solid;
    overflow      : hidden;
  }

  &__container {
    display          : flex;
    flex-direction   : row;
    min-width        : 0;
    min-height       : 0;
    width            : 100%;
    height           : @editor-menu-item-height + 2 * @editor-menu-item-spacing;
    transition       : background-color 0.4s ease;
    background-color : transparent;
    padding          : @editor-menu-item-spacing;
    cursor           : pointer;
    align-items      : normal;
    text-align       : left;
    border           : none;
    outline          : none;

    &:disabled {
      cursor : not-allowed;
    }

    &:hover, &:focus, &:active {
      background-color : @editor-menu-item-hover-color;
    }

    &__label, &__glyph, &__arrow {
      display        : block;
      line-height    : @editor-menu-item-height;
      vertical-align : middle;
      font-size      : @editor-menu-item-height / 2;
      font-weight    : normal;
      white-space    : pre;

      &:empty {
        display : none;
      }
    }

    &__label {
      flex           : 1 1 auto;
      text-align     : left;
      text-transform : capitalize;
      padding        : 0 0 0 @editor-menu-item-spacing;
    }

    &__glyph {
      background    : black;
      border-radius : 50%;
      color         : white;
      width         : @editor-menu-item-glyph-width;
      text-align    : center;
    }

    &__glyph:empty + &__label {
      padding : 0;
    }

    &__arrow {

    }
  }

  &--empty > &__items {
    margin : 0;
  }

  &__items {
    list-style : none;
    padding    : 0;
    width      : 100%;

    &__item {
      width        : 100%;
      border-width : 0 0 @editor-menu-item-border-width 0;
      border-style : solid;

      &:last-child {
        border-width : 0;
      }

      &--even {
        background-color : @editor-menu-item-background-color;
      }

      &--odd {
        background-color : #ffffff;
      }
    }
  }
}
