.muv-binary-operator {
  display : table;
  width   : auto;
  margin  : auto;

  &__operand {
    display        : table-cell;
    vertical-align : middle;
    text-align     : center;
  }

  &__operator {
    display        : table-cell;
    vertical-align : middle;
    padding        : 0 10px;
  }
}
