@import '../Variables';

@equality-box-shadow-valid : inset 0 0 2px green;
@equality-box-shadow-invalid : inset 0 0 2px red;

.muv-equality {
  &__result {
    border-radius : @muv-border-radius;
    transition    : background-color 0.2s ease;

    &--valid {
      background-color : #e5ffe5;
      box-shadow       : @equality-box-shadow-valid;
    }

    &--erroneus {
      background-color : #ffe5e5;
      box-shadow       : @equality-box-shadow-invalid;
    }
  }
}
