<template>
    <muv-editor-hook class="muv-matrix"
                     v-bind:editable="editable"
                     v-bind:editor="editor"
                     v-bind:focused="focused"
                     v-bind:model="proxyModel">
        <div class="muv-matrix__parens muv-matrix__parens--left"
             v-once>
        </div>

        <div class="muv-matrix__grid">
            <div class="muv-matrix__grid__vectors">
                <muv-vector class="muv-matrix__grid__vectors__vector"
                            v-for="vector in proxyModel.elements"
                            v-bind:key="vector.id"
                            v-bind:editable="editable"
                            v-bind:editor="editor"
                            v-bind:model="vector">
                </muv-vector>
            </div>
        </div>

        <div class="muv-matrix__parens muv-matrix__parens--right"
             v-once>
        </div>
    </muv-editor-hook>
</template>
