<template>
    <muv-editor-hook class="muv-vector"
                     v-bind:editable="editable"
                     v-bind:editor="editor"
                     v-bind:focused="focused"
                     v-bind:model="proxyModel">
        <div class="muv-vector__element"
             v-for="element in proxyModel.elements"
             v-bind:key="element.id">
            <slot v-bind:name="element.id">
                <component v-bind:is="element.view"
                           v-bind:editable="editable"
                           v-bind:editor="editor"
                           v-bind:model="element">
                </component>
            </slot>
        </div>
    </muv-editor-hook>
</template>
